.background{
  background: #0e1012;
}
H1 {
  font-size: 30px;
  font-family: "Open Sans", verdana, arial, sans-serif;
  background: -webkit-linear-gradient( #4dccc6 , rgb(4, 31, 105));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  background-color: #4dccc6;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
  tr:hover {background-color: #98e7e3;}
  
.table-div-wrapper{
  display: inline-block;
  vertical-align:top;
  position:relative;
  top:18px;
  margin-left:50px;
  margin-bottom:25px;
  width: 30%;
}
.chart-div-wrapper{
  display: inline-block;
  vertical-align:top;
  position:relative;
  width: 48%;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  
  font-family: 'Roboto', sans-serif;
}

