table {
    border-collapse: collapse;
    padding-bottom: 30px;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-left: 2px solid black;
    
  }
  
  table td:first-child {
      border-left: none;
      font-weight: bold;
  }
  
  tr:nth-child(even){background-color: white;}
  tr:hover {background-color: #bebebeea;}
  
  th {
    background-color: white;
    color: black;
    border-bottom: 2px solid black;
    border-left: none;
    text-align: center;
  }
.table-div-wrapper{
  display: inline-block;
  vertical-align:top;
  position:relative;
  top:18px;
  margin-left:50px;
  margin-bottom:25px;
}
.chart-div-wrapper{
  display: inline-block;
  vertical-align:top;
  position:relative;
  width: 48%;
}
